PORT=5000

MONGODB_URI=mongodb+srv://safarianbusiness_db_user:example@cluster0.ozih4lg.mongodb.net/?appName=Cluster0

JWT_SECRET=sfweafwrfg5146dfdsfgb5df1ggdbdfger6berd

CLOUDINARY_CLOUD_NAME=dssagf3yjsfgsdqqpm
CLOUDINARY_API_KEY=6975562sgfgdsaf35583312
CLOUDINARY_API_SECRET=HzjdsgdsaUiU0dsfds4p8gXsfgsdP--zsgsdV0ZnzLGy8zQ