# dependencies
node_modules/

# env files
.env
.env.local
.env.production

# build files
dist/
build/

# logs
logs
*.log

# OS files
.DS_Store
Thumbs.db

# editor
.vscode/
.idea/

# coverage
coverage/